@media (max-width: 576px) { 
    .btn-default { 
        padding : 13px 29px;
    }
    .header {
        padding : 13px 0;
        background-color: #fff;
    }
    .home-slider {
        height: auto;
        padding : 50px;
    }
    .nav-tabs .nav-item {
        width : 100%;
    }
    .nav-tabs .nav-item button {
        width : 100%;
    }
    .ods-mini-wrapper .ods-mini-img {
        flex: 0 0 calc(50% - 15px);
    }
    .happy-clients-details .swiper-pagination {
        text-align: center;
        margin-top: 30px;
        position : relative;
    }
    .section-main-image img {
        width: 100%;
        max-width: 100%;
        height: auto;
        margin-top: 50px;
    }
    .common-questions img {
        width: 100%;
        margin: 35px auto 0 auto;
        display: block;
        height: auto;
    }
    .footer-grid {
        grid-template-columns: 1fr !important;
        padding: 60px 0;
    }
    .footer-bottom-grid {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: center;
    }
    .footer-bottom-item {
        min-width: 0;
        display: flex;
        align-items: center;
        text-align: center;
    }
    .call-in-action {
        padding: 20px;
        /* background-color: #2ebcd4;
        background-image: url("https://themeim.com/wp/cliper/wp-content/uploads/2021/11/3334703.png"); */
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background: linear-gradient(107deg, rgba(0, 188, 212, 1) 0%, rgba(8, 154, 174, 1) 53%, rgb(255 130 130) 47%);
        text-align: center;
    }
    .deliver-item {
        text-align: center;
        background: #fff;
        padding: 45px 20px;
        height: 280px;
        display: block;
        position: relative;
        border-radius: 5px;
        /* box-shadow: 0 2px 4px rgb(121 215 229 / 43%), 0 3px 6px rgba(0, 0, 0, 0.06); */
        box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
        border-left: 5px solid #39c6da;
    }
    .banner-wrapper .banner-text {
        width: 100%;
    }
    .grid-wrapper[data-v-832ba330] {
        display: grid;
        grid-gap: 15px;
        grid-template-columns: repeat(auto-fit, minmax(calc(50% - 15px), 1fr));
        grid-auto-rows: auto;
        grid-auto-flow: dense;
    }
    .portrait-skin .button-group {
        display: flex;
        justify-content: space-between;
        margin-top: 15px;
        text-align: center;
        flex-direction: column;
    }
    .portrait-skin .button-group .place-order {
        width: calc(100% - 10px);
        margin-bottom: 15px;
    }
    .portrait-skin .button-group .free-trial {
        width: calc(100% - 10px);
    }
    .animated-border-quote {
        display: inline-block;
        margin: 1em;
        overflow: hidden;
        margin-top: 50px;
        background-color: #fff;
        border: solid 15px #00bcd4;
        display: inline-block;
        margin: 2em 0;
        padding: 1em;
        position: relative;
        text-align: center;
    }
    .sample-work .nav button {
        width: 100%;
        margin-bottom: 10px;
    }
    .pricing-tab .nav-tabs button {
        width : 100%;
    }
    .pricing-table .price-table {
        background-color: #fff;
        padding: 20px;
        margin-bottom: 20px;
        transition: all 0.5s ease-in;
        border: 1px solid #e3e3e3;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    .pricing-table .order-now {
        display: inline-block;
        padding : 15px 0;
        margin-top: auto;
        width: 100%;
        background-color: transparent;
        border: 0;
        color: #fff;
    }
    .contact-box {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        margin-top: 20px;
        background-color: #fbfbfb;
        padding: 25px 10px 25px 0;
        border-radius: 10px;
        box-shadow: 1px 1px 1px #ddd;
        transition: all ease-in 0.3s;
        border-bottom: 2px solid #2ebcd4;
    }
}
/* Extra small devices (phones) */
@media (min-width: 576px) {
    .ods-mini-wrapper .ods-mini-img {
        flex: 0 0 calc(33.33% - 15px);
    }
    .header {
        padding : 13px 0;
        background-color: #fff;
    }
    .home-slider {
        height: auto;
        padding : 50px;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
        padding : 10px 0;
    }

    .happy-clients-details .swiper-pagination {
        position : absolute;
        text-align: right;
    }
    .section-main-image img {
        width: 100%;
        max-width: 100%;
        height: auto;
        margin-top: 50px;
    }
    .common-questions img {
        width: 100%;
        margin: 35px auto 0 auto;
        display: block;
        height: auto;
    }
    .footer-grid {
        grid-template-columns: repeat(2, 1fr) !important;
    }
    .footer-bottom-grid {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: center;
        text-align: center;
    }
    .footer-bottom-item {
        min-width: 0;
        display: flex;
        align-items: center;
        text-align: center;
    }
    .call-in-action {
        padding: 20px;
        /* background-color: #2ebcd4;
        background-image: url("https://themeim.com/wp/cliper/wp-content/uploads/2021/11/3334703.png"); */
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background: linear-gradient(107deg, rgba(0, 188, 212, 1) 0%, rgba(8, 154, 174, 1) 53%, rgb(255 130 130) 47%);
        text-align: center;
    }
    .deliver-item {
        text-align: center;
        background: #fff;
        padding: 45px 20px;
        height: 280px;
        display: block;
        position: relative;
        border-radius: 5px;
        /* box-shadow: 0 2px 4px rgb(121 215 229 / 43%), 0 3px 6px rgba(0, 0, 0, 0.06); */
        box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
        border-left: 5px solid #39c6da;
    }
    .banner-wrapper .banner-text {
        width: 80%;
    }
    .grid-wrapper {
        display: grid;
        grid-gap: 15px;
        grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
        grid-auto-rows: auto;
        grid-auto-flow: dense;
    }
    .portrait-skin .button-group {
        display: flex;
        justify-content: space-between;
        margin-top: 15px;
        text-align: center;
        flex-direction: column;
    }
    .portrait-skin .button-group .place-order {
        width: calc(100% - 10px);
        margin-bottom: 15px;
    }
    .portrait-skin .button-group .free-trial {
        width: calc(100% - 10px);
    }
    .animated-border-quote {
        display: inline-block;
        margin: 1em;
        overflow: hidden;
        margin-top: 50px;
        background-color: #fff;
        border: solid 15px #00bcd4;
        display: inline-block;
        margin: 2em 0;
        padding: 1em;
        position: relative;
        text-align: center;
    }
    .sample-work {
        display: flex;
    }
    .sample-work .nav-pills {
        margin-right: 15px;
    }
    .sample-work .nav button {
        width: 250px;
        margin-bottom: 10px;
    }
    .pricing-tab .nav-tabs button {
        width : 100%;
    }
    .pricing-table .price-table {
        background-color: #fff;
        padding: 20px;
        margin-bottom: 20px;
        transition: all 0.5s ease-in;
        border: 1px solid #e3e3e3;
        width: 100%;
        height: 100%;
        display : flex; 
        flex-direction: column;
    }
    .pricing-table .order-now {
        display: inline-block;
        padding : 15px 0;
        margin-top: auto;
        width: 100%;
        background-color: transparent;
        border: 0;
        color: #fff;
    }
    .contact-box {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        margin-top: 20px;
        background-color: #fbfbfb;
        padding: 25px 10px 25px 0;
        border-radius: 10px;
        box-shadow: 1px 1px 1px #ddd;
        transition: all ease-in 0.3s;
        border-bottom: 2px solid #2ebcd4;
    }
}

  /* Medium devices (tablets) */
@media (min-width: 768px) {
    .ods-mini-wrapper .ods-mini-img {
        flex: 0 0 calc(33.33% - 15px);
    }
    /* md styles */
    .navbar-brand {
        padding: 0;
    }
    .navbar-collapse {
        /* height: 100vh; */
        /* overflow: scroll;
        margin-top: 13px; */
    }
    .dropdown-menu {
        margin-top: 0px;
    }
    /* .dropdown:hover .dropdown-menu {
        display: none !important;
    } */
    /* .simple-mega-grid {
        display : block !important;
    } */
    .footer-grid {
        grid-template-columns: repeat(2, 1fr) !important;
    }
    .banner-wrapper .banner-text {
        width: 75%;
    }
    .grid-wrapper {
        display: grid;
        grid-gap: 15px;
        grid-template-columns: repeat(auto-fit, minmax(252px, 1fr));
        grid-auto-rows: auto;
        grid-auto-flow: dense;
    }
    .sample-work {
        display: flex;
    }

    .pricing-tab .nav-tabs button {
        width : auto;
    }
    .pricing-table .order-now {
        display: inline-block;
        padding : 15px 0;
        margin-top: auto;
        width: 100%;
        background-color: transparent;
        border: 0;
        color: #fff;
    }
    .contact-box {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        background-color: #fbfbfb;
        padding: 25px 10px 25px 0;
        border-radius: 10px;
        box-shadow: 1px 1px 1px #ddd;
        margin-top: 20px;
        transition: all ease-in 0.3s;
        border-bottom: 2px solid #2ebcd4;
        text-align: center;
        flex-direction: column;
    }
    
}

  /* Large devices (laptops) */
@media (min-width: 992px) {
    .navbar-collapse {
        margin-top: 0;
        height: auto;
    }
    .ods-mini-wrapper .ods-mini-img {
        flex: 0 0 calc(20% - 15px);
    }
    .slider-container {
        height: 100vh;
        justify-content: center;
        align-items: center;
        display: flex;
    }
    .header {
        padding : 0;
        background-color: transparent;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
        padding : 20px;
    }
    .nav-tabs .nav-item {
        width : auto;
    }
    .section-main-image img {
        width: 80%;
        max-width: 100%;
        height: auto;
    }
    .common-questions img {
        width: 70%;
        margin: 35px auto 0 auto;
        display: block;
        height: auto;
    }
    .footer-grid {
        grid-template-columns: repeat(4, 1fr) !important;
    }
    .footer-bottom-grid {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: space-between;
    }
    .call-in-action {
        padding: 70px;
        /* background-color: #2ebcd4;
        background-image: url("https://themeim.com/wp/cliper/wp-content/uploads/2021/11/3334703.png"); */
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background: linear-gradient(107deg, rgba(0, 188, 212, 1) 0%, rgba(8, 154, 174, 1) 53%, rgb(255 130 130) 47%);
        text-align: center;
    }
    .banner-wrapper .banner-text {
        width: 50%;
    }
    .grid-wrapper {
        display: grid;
        grid-gap: 15px;
        grid-template-columns: repeat(auto-fit, minmax(252px, 1fr));
        grid-auto-rows: 315px;
        grid-auto-flow: dense;
    }
    .animated-border-quote {
        display: inline-block;
        margin: 1em;
        overflow: hidden;
        margin-top: 50px;
        background-color: #fff;
        border: solid 15px #00bcd4;
        display: inline-block;
        margin: 0 3rem;
        padding: 1em;
        position: relative;
        text-align: center;
    }
    .sample-work {
        display: flex;
    }
    .pricing-tab .nav-tabs button {
        width : auto;
    }
    .price-table .order-now {
        padding : 15px 0;
        margin-top: auto;
    }
    .pricing-table .order-now {
        display: inline-block;
        padding : 15px 0;
        margin-top: auto;
        width: 100%;
        background-color: transparent;
        border: 0;
        color: #fff;
    }
}
@media (min-width: 1200px) { 
    .deliver-item {
        text-align: center;
        background: #fff;
        padding: 45px 20px;
        height: 310px;
        display: block;
        position: relative;
        border-radius: 5px;
        /* box-shadow: 0 2px 4px rgb(121 215 229 / 43%), 0 3px 6px rgba(0, 0, 0, 0.06); */
        box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
        border-left: 5px solid #39c6da;
    }
    .banner-wrapper .banner-text {
        width: 50%;
    }
    .pricing-table .order-now {
        display: inline-block;
        margin-top: auto;
        width: 100%;
        background-color: transparent;
        border: 0;
        color: #fff;
    }
}